.valve-row-wrapper {
  margin: 0 -8px;
}

.valve-row {
  padding: 6px 8px;
  display: block;
  text-decoration: none;
  color: inherit; /* Ensures color is consistent */
}

.valve-row-content {
  padding-bottom: 8px;
}

.valve-warning {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  height: 20px;
  padding-top: 0px;
  padding-bottom: 6px;
  margin-left: 0px;
}

.valve-warning svg {
  margin-right: 4px;
}

.valve-warning p {
  font-size: 12px;
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  color: rgb(255, 154, 92);
  display: block;
  font-weight: 700;
  text-align: left;
}

.valve-row:hover {
  background-color: rgb(53, 53, 75);
  box-shadow: 0 1px 0 0 rgb(53, 53, 75);
}

.valve-row-header {
  box-sizing: border-box;
  margin: 0px;
  min-width: 0px;
  display: grid;
  gap: 4px;
  grid-template-columns: 1fr auto auto;
  padding-bottom: 4px;
  line-height: 21px;
}

.valve-row-button {
  padding: 0 4px;
  margin: 0px;
  cursor: pointer;
  border: none;
  background: transparent;
}

.valveId {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
}

.fly-valve-icon {
  opacity: 0;
  cursor: pointer;
  color: #fff;
}

.disable-icon-button {
  color: #656565;
  cursor: not-allowed;
}

.valve-row-button.fly-valve-icon:disabled svg {
  fill: #656565;
  cursor: not-allowed;
}

.valve-row:hover .fly-valve-icon {
  opacity: 1;
}

.valve-row-details {
  display: flex;
  justify-content: space-between;
}

.details-left,
.details-right {
  display: flex;
  flex-direction: column;
}

.details-left {
  text-align: left;
}

.details-right {
  text-align: right;
}

.details-text {
  padding-bottom: 4px;
}

.details-text,
.value-bold,
.value-unit {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
  margin: 0;
  color: rgb(151, 151, 181);
}

.value-bold {
  color: white;
  font-weight: 700;
}

.details-alignLeft {
  display: flex;
  justify-content: left;
}

.details-alignRight {
  display: flex;
  justify-content: right;
}

.value-unit {
  padding-left: 4px;
}
